.profile {
  margin: 0 auto;
  padding: 15px;
  width: 244px;

  border-radius: 4px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 30px 20px;
  background-color: #fff;
}

.avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #9d9d9d;
  border-radius: 50%;
}

.name {
  margin: 0;
  font-size: 18px;
}

.tag {
  margin: 0;
  font-size: 14px;
  color: #9d9d9d;
}

.location {
  margin: 0;
  font-size: 14px;
  color: #9d9d9d;
}

.stats {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.statsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  min-width: 70px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
}

.label {
  font-size: 12px;
  color: #7d7d7d;
  margin-bottom: 5px;
}

.quantity {
  font-weight: 700;
}
