.transactionHistory {
  margin: 0 auto;
  width: 900px;
  border: 1px solid #000000;
}

.head {
  width: 300px;
}

.body {
  width: 300px;
}

.bodySection {
  display: flex;
  border: 1px solid #000000;
}
