.transactionHistory {
  margin: 0 auto;
  width: 900px;
  background-color: #fff;
  border: 1px solid #000000;
}

.transactionHead {
  background-color: rgb(0, 212, 212);
}

.transactionHeadText {
  font-size: 16px;
  padding: 5px;
}

.transactionBodyText {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #000000;
}
